/*
Default stylesheet for Ter: https://github.com/kkga/ter
Based on: https://github.com/xz/new.css
*/

@import url("https://rsms.me/inter/inter.css");

:root {
  --ter-font-sans: "Inter", sans-serif;
  --ter-font-mono: "JetBrains Mono", monospace;

  /* Light theme */
  --col-tx-1: #1c1917;
  --col-tx-2: #1c1917;
  --col-tx-3: #57534e;
  --col-tx-4: #78716c;
  --col-bg-1: #f5f5f4;
  --col-bg-2: #e7e5e4;
  --col-bg-3: #d6d3d1;
  --col-lk-1: #0369a1;
  --col-lk-2: #0366d6;
  --col-lk-3: #99f6e4;
  --col-lk-tx: #ffffff;
  --col-ac-1: #79ffe1;
  --col-ac-tx: #b45309;

  /* Dark theme */
  --col-d-tx-1: #f5f5f4;
  --col-d-tx-2: #e7e5e4;
  --col-d-tx-3: #a8a29e;
  --col-d-tx-4: #78716c;
  --col-d-bg-1: #1c1917;
  --col-d-bg-2: #292524;
  --col-d-bg-3: #44403c;
  --col-d-lk-1: #0ea5e9;
  --col-d-lk-2: #0284c7;
  --col-d-lk-tx: #ffffff;
  --col-d-ac-1: #7928ca;
  --col-d-ac-tx: #ffffff;

  --width-body: 72ch;

  --text-size-base: 15px;
  --text-size-xs: 0.79rem;
  --text-size-sm: 0.89rem;
  --text-size-lg: 1.13rem;
  --text-size-xl: 1.27rem;
  --text-size-2xl: 1.42rem;
  --text-size-3xl: 1.6rem;
  --text-size-4xl: 1.8rem;
  --text-size-5xl: 2.03rem;

  --radius-xs: 4px;
  --radius-md: 6px;

  font-size: 15px;
}

@supports (font-variation-settings: normal) {
  :root {
    --ter-font-sans: "Inter var", sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --col-tx-1: var(--col-d-tx-1);
    --col-tx-2: var(--col-d-tx-2);
    --col-tx-3: var(--col-d-tx-3);
    --col-tx-4: var(--col-d-tx-4);
    --col-bg-1: var(--col-d-bg-1);
    --col-bg-2: var(--col-d-bg-2);
    --col-bg-3: var(--col-d-bg-3);
    --col-lk-1: var(--col-d-lk-1);
    --col-lk-2: var(--col-d-lk-2);
    --col-lk-tx: var(--col-d-lk-tx);
    --col-ac-1: var(--col-d-ac-1);
    --col-ac-tx: var(--col-d-ac-tx);
  }
}

/*
RESET -------------------------------------------------------------------------
*/

* {
  margin: 0;
  padding: 0;
}

address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
img,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
  margin-bottom: 1rem;
}

html,
input,
select,
button {
  font-family: var(--ter-font-sans);
}

body {
  margin: 0 auto;
  max-width: var(--width-body);
  padding: 1rem;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  background: var(--col-bg-1);
  color: var(--col-tx-2);
  font-family: var(--ter-font-sans), system-ui, sans-serif;
  font-feature-settings: "calt", "tnum", "ss02";
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: -0.009em;
}

/*
TYPE SCALE --------------------------------------------------------------------
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  letter-spacing: -0.025em;
  margin-top: 1.5em;
  margin-bottom: 0.875em;
}

h1,
h2,
h3 {
  line-height: 1.15;
}

h4,
h5,
h6 {
  line-height: 1.25;
}

h1 {
  font-size: var(--text-size-4xl);
}
h2 {
  font-size: var(--text-size-3xl);
}
h3 {
  font-size: var(--text-size-2xl);
}
h4 {
  font-size: var(--text-size-xl);
}
h5 {
  font-size: var(--text-size-lg);
}
h6 {
  font-size: var(--text-size-sm);
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
small {
  font-size: var(--text-size-xs);
}

/*
BASE TAGS ---------------------------------------------------------------------
*/

a {
  color: var(--col-lk-1);
  text-decoration: none;
  display: inline-block;
}

/*a:hover {
  text-decoration: underline;
  text-decoration-color: currentColor !important;
  text-decoration-style: solid !important;
  color: var(--col-lk-1);
}
*/
a[href]:hover {
  text-decoration: none;
  background-color: var(--col-bg-2);
  border-radius: calc(1em * 0.25);
  padding-left: calc(1em * 0.25);
  padding-right: calc(1em * 0.25);
  margin-left: calc(1em * -0.25);
  margin-right: calc(1em * -0.25);
}

a[rel~="external"] {
  color: currentColor;
  text-decoration: underline;
  text-decoration-color: var(--col-bg-3);
}

a[rel~="external"]::after {
  content: "↗";
  color: var(--col-lk-1);
  text-decoration: none;
}

abbr:hover {
  /* Set the '?' cursor while hovering an abbreviation */
  cursor: help;
}

blockquote {
  padding: 0 3rem;
  color: var(--col-tx-3);
}

abbr {
  cursor: help;
}

blockquote *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: var(--text-size-sm);
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: var(--col-lk-1);
  color: var(--col-lk-tx);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--col-lk-tx);
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  opacity: 0.5;

  /* Set the [X] cursor while hovering a disabled link */
  cursor: not-allowed;
}

.button:focus,
.button:enabled:hover,
button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
  background: var(--col-lk-2);
}

a img {
  margin-bottom: 0px;
}

/*
Preformatted elements
*/

code,
kbd,
samp {
  font-family: var(--ter-font-mono);
  color: var(--col-ac-tx);
}

pre {
  font-size: var(--text-size-sm);
  line-height: 1.25;
  border-radius: var(--radius-md);
  background-color: var(--col-bg-2);
  padding: 0.5rem 0.75rem;
  overflow: auto;
}

pre code {
  /* When <code> is in a <pre>, reset it's formatting to blend in */
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

code pre {
  /* When <pre> is in a <code>, reset it's formatting to blend in */
  display: inline;
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

/*
Miscellaneous
*/

details {
  /* Make the <details> look more "clickable" */
  padding: 0.6rem 1rem;
  background: var(--col-bg-2);
  border: 1px solid var(--col-bg-3);
  border-radius: 4px;
}

summary {
  /* Makes the <summary> look more like a "clickable" link with the pointer cursor */
  cursor: pointer;
  font-weight: bold;
}

details[open] {
  /* Adjust the <details> padding while open */
  padding-bottom: 0.75rem;
}

details[open] summary {
  /* Adjust the <details> padding while open */
  margin-bottom: 6px;
}

details[open] > *:last-child {
  /* Resets the bottom margin of the last element in the <details> while <details> is opened. This prevents double margins/paddings. */
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd::before {
  /* Add an arrow to data table definitions */
  content: "→ ";
}

hr {
  /* Reset the border of the <hr> separator, then set a better line */
  border: 0;
  border-bottom: 1px solid var(--col-bg-3);
  margin: 1rem auto;
}

fieldset {
  margin-top: 1rem;
  padding: 2rem;
  border: 1px solid var(--col-bg-3);
  border-radius: 4px;
}

legend {
  padding: auto 0.5rem;
}

table {
  /* border-collapse sets the table's elements to share borders, rather than floating as separate "boxes". */
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid var(--col-bg-3);
  text-align: left;
  padding: 0.5rem;
}

th {
  background: var(--col-bg-2);
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background: var(--col-bg-2);
}

table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

textarea {
  /* Don't let the <textarea> extend off the screen naturally or when dragged by the user */
  max-width: 100%;
}

ol,
ul {
  list-style: inside;
  padding: 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
  padding-left: 2rem;
}

mark {
  padding: 3px 6px;
  background: var(--col-ac-1);
  color: var(--col-ac-tx);
}

textarea,
select,
input {
  padding: 6px 12px;
  margin-bottom: 0.5rem;
  background: var(--col-bg-2);
  color: var(--col-tx-2);
  border: 1px solid var(--col-bg-3);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

img,
video {
  max-width: 100%;
}

/*
Top-level elements
*/

main > header,
main > article,
main > .linkList {
  margin-bottom: 3rem;
}

footer {
  font-size: var(--text-size-xs);
  color: var(--col-tx-4);
}

/*
HEADER ------------------------------------------------------------------------
*/

main > header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  gap: 1ch;
  font-size: var(--text-size-sm);
  line-height: 1.375;
  color: var(--col-tx-3);
}

@media only screen and (min-width: 32em) {
  main > header {
    flex-direction: row;
  }
}

header time {
  color: var(--col-tx-4);
}

/*
BREADCRUMBS -------------------------------------------------------------------
*/

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  display: inline-block;
  margin: 0;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "/";
  color: var(--col-tx-4);
}

.breadcrumbs-item a {
  text-decoration: none;
  color: var(--col-tx-2);
}

/*
INDEX LIST --------------------------------------------------------------------
*/

.linkList {
  color: var(--col-tx-2);
  line-height: 1.75;
  margin: 0;
  padding: 0;
  list-style: none;
}

.linkList-time {
  font-size: var(--text-size-sm);
  color: var(--col-tx-4);
  margin-left: auto;
  white-space: nowrap;
}

.linkList-item a {
  text-decoration: none;
  display: flex;
  gap: 1ch;
  align-items: baseline;
  margin: 0;
  color: currentColor;
}

.linkList-heading {
  margin: 0;
  line-height: inherit;
  font-size: var(--text-size-sm);
  letter-spacing: 0;
  font-weight: normal;
  color: var(--col-tx-4);
}

.linkList-name {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
