/* Default stylesheet for Ter: https://github.com/kkga/ter */

@import url("https://rsms.me/inter/inter.css");

/*
ROOT -------------------------------------------------------------------------
*/

:root {
  --font-sans: "Inter", sans-serif;
  --font-mono: ui-monospace, "input", "input mono", "cascadia code",
    sfmono-regular, menlo, monaco, consolas, "liberation mono", "courier new",
    monospace;

  /* Light theme */
  --color-text-body: #1c1917;
  --color-text-secondary: #57534e;
  --color-text-tertiary: #78716c;
  --color-text-accent: #0369a1;
  --color-text-accent-alt: #4338ca;
  --color-bg-body: #f5f5f4;
  --color-bg-secondary: #e7e5e4;

  /* Dark theme */
  --color-dark-text-body: #f5f5f4;
  --color-dark-text-secondary: #a8a29e;
  --color-dark-text-tertiary: #78716c;
  --color-dark-text-accent: #0ea5e9;
  --color-dark-text-accent-alt: #818cf8;
  --color-dark-bg-body: #1c1917;
  --color-dark-bg-secondary: #292524;

  /* Scales */
  --width-body: 72ch;
  --font-size-base: 16px;
  --font-size-s: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-weight-m: 500;
  --line-height-base: 1.5;
  --line-height-spaced: 1.75;
  --line-height-tight: 1.375;
  --line-height-head: 2.5rem;
  --line-height-subhead: 2rem;
  --leading-base: -0.009em;
  --leading-tight: -0.025em;
  --radius-xs: 4px;
  --radius-md: 6px;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-sans: "Inter var", sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-body: var(--color-dark-text-body);
    --color-text-secondary: var(--color-dark-text-secondary);
    --color-text-tertiary: var(--color-dark-text-tertiary);
    --color-text-accent: var(--color-dark-text-accent);
    --color-text-accent-alt: var(--color-dark-text-accent-alt);
    --color-bg-body: var(--color-dark-bg-body);
    --color-bg-secondary: var(--color-dark-bg-secondary);
  }
}

/*
TYPE  --------------------------------------------------------------------
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-base);
  letter-spacing: var(--leading-tight);
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 0.25em;
}

h1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-head);
}

h1:first-child {
  margin-top: 0;
}

h2 {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-m);
  line-height: var(--line-height-subhead);
}

small {
  font-size: var(--font-size-s);
  color: var(--color-text-secondary);
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 0;
}

/*
TOP-LEVEL STUFF ------------------------------------------------------------
*/

body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr min(var(--width-body), calc(100% - 2rem)) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 3rem 1rem;
  min-height: 100vh;
  margin: 0;
  padding: 1rem 0;
  background: var(--color-bg-body);
  color: var(--color-text-body);
  font-family: var(--font-sans), system-ui, sans-serif;
  font-feature-settings: "calt", "tnum", "ss02";
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--leading-base);
}

footer {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-m);
  color: var(--color-text-tertiary);
}

body > header,
body > footer,
body > main {
  grid-column: 2;
}

main > article {
  margin: 0;
}

main > nav {
  margin-bottom: 1rem;
}

main > nav:first-of-type {
  margin-top: 3rem;
}

/*
BASE TAGS ---------------------------------------------------------------------
*/

a {
  color: var(--color-text-accent);
  text-decoration: none;
  display: inline-block;
}

a:visited {
  color: var(--color-text-accent-alt);
}

a[href]:hover {
  text-decoration: none;
  color: var(--color-text-accent);
  background-color: var(--color-bg-secondary);
  border-radius: calc(1em * 0.25);
  padding-left: calc(1em * 0.25);
  padding-right: calc(1em * 0.25);
  margin-left: calc(1em * -0.25);
  margin-right: calc(1em * -0.25);
}

a[rel~="external"] {
  color: currentcolor;
  text-decoration: underline;
  text-decoration-color: var(--color-text-accent);
}

img,
video {
  max-width: 100%;
  vertical-align: bottom;
}

article > img {
  margin: 1.5rem 0;
}

blockquote {
  color: var(--color-text-secondary);
}

a img {
  margin-bottom: 0;
}

code,
kbd,
samp {
  font-family: var(--font-mono);
  background-color: var(--color-bg-secondary);
}

pre {
  font-size: var(--font-size-s);
  line-height: var(--line-height-tight);
  border-radius: var(--radius-md);
  background-color: var(--color-bg-secondary);
  padding: 0.75rem;
  overflow: auto;
}

pre code {
  color: inherit;
  border-radius: inherit;
  background-color: inherit;
}

figure {
  margin: 1.5rem 0;
}

figcaption {
  margin-top: 0.5rem;
  text-align: center;
  font-size: var(--font-size-s);
  color: var(--color-text-secondary);
}

details {
  padding: 0.5rem 0.75rem;
  background: var(--color-bg-secondary);
  border-radius: var(--radius-xs);
  font-size: var(--font-size-s);
}

summary {
  font-weight: var(--font-weight-m);
}

details[open] > *:last-child {
  margin-bottom: 0;
}

dt {
  font-weight: var(--font-weight-m);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-bg-secondary);
  margin: 1.5rem auto;
}

table {
  width: 100%;
  font-size: var(--font-size-s);
  line-height: var(--line-height-tight);
  border-collapse: separate;
  border-spacing: 1px;
}

td,
th {
  text-align: left;
  padding: 0.25rem 0.5rem;
}

th,
tr {
  background: var(--color-bg-secondary);
  vertical-align: top;
}

table caption {
  font-weight: var(--font-weight-m);
  margin-bottom: 0.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
  padding-left: 1.5rem;
}

/*
HEADER ------------------------------------------------------------------------
*/

body > header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  gap: 1ch;
  font-size: var(--font-size-s);
  line-height: var(--line-height-tight);
  color: var(--color-text-tertiary);
}

@media only screen and (min-width: 32em) {
  body > header {
    flex-direction: row;
  }
}

body > header time {
  color: var(--color-text-tertiary);
}

/*
BREADCRUMBS -------------------------------------------------------------------
*/

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  display: inline-block;
  margin: 0;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "/";
  color: var(--color-text-tertiary);
}

.breadcrumbs-item a {
  text-decoration: none;
  color: var(--color-text-secondary);
}

/*
INDEX LIST --------------------------------------------------------------------
*/

.linklist {
  line-height: var(--line-height-spaced);
}

.linklist-heading {
  color: var(--color-text-secondary);
  margin: 0;
  line-height: 2;
  font-size: var(--font-size-xs);
  letter-spacing: 0;
  font-weight: var(--font-weight-m);
  display: flex;
  gap: 0.5ch;
  align-items: baseline;
}

.linklist-heading::after {
  flex: 1;
  content: "";
  border-top: 1px solid var(--color-bg-secondary);
}

.linklist-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.linklist-item a {
  text-decoration: none;
  display: flex;
  gap: 1ch;
  align-items: baseline;
  margin: 0;
  color: currentcolor;
}

.linklist-item--index {
  font-weight: var(--font-weight-m);
}

.linklist-name {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linklist-name::before {
  content: "◇ ";
}

.linklist-item--index .linklist-name::before {
  content: "❖ ";
}

.linklist-item--index .linklist-name::after {
  content: "";
}

.linklist-item--pinned .linklist-name::after {
  content: "★";
}

.linklist-description {
  max-width: 100%;
  flex: 1;
  text-align: right;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size-s);
  color: var(--color-text-secondary);
}

.linklist-item--index .linklist-description {
  text-align: left;
}

.linklist-time {
  font-size: var(--font-size-s);
  margin-left: auto;
  margin-right: 0.25em;
  white-space: nowrap;
  color: var(--color-text-tertiary);
}
