.hljs-comment {
  opacity: 0.75;
  font-variation-settings: "CRSV" 1, "CASL" 1, "MONO" 1, "slnt" -15;
}
.hljs-punctuation,
.hljs-tag {
  color: currentcolor;
}
.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
  color: currentcolor;
}
.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
  font-variation-settings: "CASL" 1, "MONO" 1, "wght" 700;
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  color: var(--color-text-accent-alt);
}
.hljs-section,
.hljs-title {
  color: currentcolor;
}
.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable,
.hljs-function {
  color: currentcolor;
}
.hljs-literal {
  color: currentcolor;
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
  color: currentcolor;
}
.hljs-meta {
  color: currentcolor;
}
.hljs-meta .hljs-string {
  color: currentcolor;
}
.hljs-subs {
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
