/* Default stylesheet for Ter: https://github.com/kkga/ter */

/* ROOT ------------------------------------------------------------------------- */

:root {
  --font-sans: "Recursive", sans-serif;
  --font-mono: "Recursive", monospace;

  /* Light theme */
  --color-text-body: #1c1917;
  --color-text-secondary: #57534e;
  --color-text-tertiary: #78716c;
  --color-text-accent: #0369a1;
  --color-text-accent-alt: #4338ca;
  --color-bg-body: #f5f5f4;
  --color-bg-secondary: #e7e5e4;

  /* Dark theme */
  --color-dark-text-body: #f5f5f4;
  --color-dark-text-secondary: #a8a29e;
  --color-dark-text-tertiary: #78716c;
  --color-dark-text-accent: #0ea5e9;
  --color-dark-text-accent-alt: #818cf8;
  --color-dark-bg-body: #1c1917;
  --color-dark-bg-secondary: #292524;

  /* Font */
  --font-casl-head: 1;
  --font-casl-body: 0;
  --font-mono-code: 1;
  --font-size-base: 16px;
  --font-size-s: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-weight-m: 500;
  --font-weight-b: 800;
  --line-height-base: 1.5;
  --line-height-spaced: 1.75;
  --line-height-tight: 1.375;
  --line-height-head: 2.5rem;
  --line-height-subhead: 2rem;
  --leading-base: -0.009em;
  --leading-tight: -0.025em;

  /* Scales */
  --width-body: 48rem;
  --radius-xs: 4px;
  --radius-md: 6px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-body: var(--color-dark-text-body);
    --color-text-secondary: var(--color-dark-text-secondary);
    --color-text-tertiary: var(--color-dark-text-tertiary);
    --color-text-accent: var(--color-dark-text-accent);
    --color-text-accent-alt: var(--color-dark-text-accent-alt);
    --color-bg-body: var(--color-dark-bg-body);
    --color-bg-secondary: var(--color-dark-bg-secondary);
  }
}

/* TYPE  -------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-base);
  letter-spacing: var(--leading-tight);
  font-variation-settings: "CASL" var(--font-casl-head), "MONO" 0, "CRSV" 0.5;
  font-weight: var(--font-weight-b);
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 0.25em;
}

h1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-head);
}

h2 {
  font-size: var(--font-size-l);
  line-height: var(--line-height-subhead);
}

h1:first-child,
h2:first-child {
  margin-top: 0;
}

small {
  font-size: var(--font-size-s);
  color: var(--color-text-secondary);
}

:is(h1, h2, h3, h4, h5, h6) + * {
  margin-top: 0;
}

/* BASE TAGS --------------------------------------------------------------------- */

html {
  background-color: black;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  margin: 0;
  padding: 1rem;
  background: var(--color-bg-body);
  color: var(--color-text-body);
  font-family: var(--font-sans);
  font-variation-settings: "CASL" var(--font-casl-body), "MONO" 0, "CRSV" 0.5;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--leading-base);
}

body > :is(header, main, aside, footer) {
  margin: 0 auto;
  max-width: var(--width-body);
  width: 100%;
}

a {
  color: var(--color-text-accent);
  text-decoration: none;
}

:is(h1, h2, h3, h4, h5, h6) a {
  color: currentcolor !important;
}

a:visited {
  color: var(--color-text-accent-alt);
}

a[href]:hover {
  text-decoration: underline;
  font-variation-settings: "CASL" 1, "wght" 700, "MONO" 0, "CRSV" 0.5;
}

a[rel~="external"] {
  color: currentcolor;
  text-decoration: underline;
  text-decoration-color: var(--color-text-accent);
}

img,
video {
  max-width: 100%;
  vertical-align: bottom;
}

article > img {
  margin: 1.5rem 0;
}

blockquote {
  color: var(--color-text-secondary);
  font-size: var(--font-size-m);
  font-variation-settings: "CASL" 1, "wght" 500, "MONO" 0, "CRSV" 0.5;
}

a img {
  margin-bottom: 0;
}

code,
kbd,
samp {
  font-family: var(--font-mono);
  font-variation-settings: "CRSV" 0.5, "CASL" 1, "MONO" 1;
  background-color: var(--color-bg-secondary);
  border-radius: var(--radius-xs);
  padding: 0 0.125em;
  font-size: 0.95em;
}

pre {
  font-family: var(--font-mono);
  font-variation-settings: "CRSV" 0.5, "CASL" 1, "MONO" 1;
  font-size: var(--font-size-s);
  line-height: var(--line-height-tight);
  border-radius: var(--radius-md);
  background-color: var(--color-bg-secondary);
  padding: 0.75em;
  overflow: auto;
}

pre code {
  color: inherit;
  border-radius: inherit;
  background-color: inherit;
  padding: 0;
  border: inherit;
  font-size: inherit;
}

figure {
  margin: 1.5rem 0;
}

figcaption {
  margin-top: 0.5em;
  text-align: center;
  font-size: var(--font-size-s);
  color: var(--color-text-secondary);
}

details {
  font-size: var(--font-size-s);
  color: var(--color-text-tertiary);
}

details[open] {
  color: var(--color-text-body);
  border-bottom: 1px solid var(--color-bg-secondary);
  padding-bottom: 1rem;
}

summary {
  font-weight: var(--font-weight-m);
}

details[open] > *:last-child {
  margin-bottom: 0;
}

dt {
  font-weight: var(--font-weight-m);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-bg-secondary);
  margin: 1.5rem auto;
}

table {
  width: 100%;
  font-size: var(--font-size-s);
  line-height: var(--line-height-tight);
  border-collapse: separate;
  border-spacing: 1px;
}

td,
th {
  text-align: left;
  padding: 0.25em 0.5em;
}

th,
tr {
  background: var(--color-bg-secondary);
  vertical-align: top;
}

table caption {
  font-weight: var(--font-weight-m);
  margin-bottom: 0.5em;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
  padding-left: 1.5rem;
}

/* HEADER/BREADCRUMBS ------------------------------------------------------------------- */

body > header,
article > header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  gap: 0.25em;
  font-size: var(--font-size-s);
  line-height: var(--line-height-tight);
  color: var(--color-text-tertiary);
}

body > header:not(:hover) :is(nav, div, a) {
  color: var(--color-text-tertiary) !important;
}

article > header:not(:hover) :is(nav, div, li a) {
  color: var(--color-text-tertiary) !important;
}

:is(body > header, article > header) :is(ol, ul) {
  margin: 0;
  padding: 0;
  list-style: none;
}

:is(body > header, article > header) :is(ol, ul) li {
  display: inline-block;
}

article > header :is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  font-size: var(--font-size-base);
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-b);
  color: var(--color-text-body);
}

body > header ol li:not(:first-child)::before {
  content: "/";
  color: var(--color-text-tertiary);
}

/* ASIDE ----------------------------------------------------------------- */

body > aside {
  color: var(--color-text-tertiary);
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

body > aside > section:not(:hover) :is(nav, div, a) {
  color: var(--color-text-tertiary) !important;
}

aside section h6 {
  margin: 0;
  line-height: 2;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-m);
  letter-spacing: 0;
  display: flex;
  gap: 4px;
  align-items: baseline;
}

aside section h6 a {
  color: inherit;
}

aside section h6::after {
  flex: 1;
  content: "";
  border-top: 1px solid var(--color-bg-secondary);
}

aside section :is(ul, ol) {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside section :is(ul, ol) li {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

aside section :is(ul, ol) li a + span {
  display: block;
  flex: 1;
  border-bottom: 1px dashed var(--color-bg-secondary);
}

aside time {
  margin-left: auto;
  color: var(--color-text-tertiary);
  font-size: var(--font-size-xs);
}

/* FOOTER ----------------------------------------------------------------- */

body > footer {
  margin-top: auto;
  font-size: var(--font-size-xs);
  color: var(--color-text-tertiary);
}

/* END TER STYLESHEET ----------------------------------------------------- */
