/* Default stylesheet for Ter: https://github.com/kkga/ter */

/* ROOT ------------------------------------------------------------------------- */

:root {
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;
  --font-mono: monospace, ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New";

  --mauve-l1: hsl(300, 20%, 99%);
  --mauve-l2: hsl(300, 7.7%, 97.5%);
  --mauve-l3: hsl(294, 5.5%, 95.3%);
  --mauve-l4: hsl(289, 4.7%, 93.3%);
  --mauve-l5: hsl(283, 4.4%, 91.3%);
  --mauve-l6: hsl(278, 4.1%, 89.1%);
  --mauve-l7: hsl(271, 3.9%, 86.3%);
  --mauve-l8: hsl(255, 3.7%, 78.8%);
  --mauve-l9: hsl(252, 4%, 57.3%);
  --mauve-l10: hsl(253, 3.5%, 53.5%);
  --mauve-l11: hsl(252, 4%, 44.8%);
  --mauve-l12: hsl(260, 25%, 11%);
  --mauve-d1: hsl(246, 6%, 9%);
  --mauve-d2: hsl(240, 5.1%, 11.6%);
  --mauve-d3: hsl(241, 5%, 14.3%);
  --mauve-d4: hsl(242, 4.9%, 16.5%);
  --mauve-d5: hsl(243, 4.9%, 18.8%);
  --mauve-d6: hsl(244, 4.9%, 21.5%);
  --mauve-d7: hsl(245, 4.9%, 25.4%);
  --mauve-d8: hsl(247, 4.8%, 32.5%);
  --mauve-d9: hsl(252, 4%, 45.2%);
  --mauve-d10: hsl(247, 3.4%, 50.7%);
  --mauve-d11: hsl(253, 4%, 63.7%);
  --mauve-d12: hsl(256, 6%, 93.2%);

  --indigo-l1: hsl(225, 60%, 99.4%);
  --indigo-l2: hsl(223, 100%, 98.6%);
  --indigo-l3: hsl(223, 98.4%, 97.1%);
  --indigo-l4: hsl(223, 92.9%, 95%);
  --indigo-l5: hsl(224, 87.1%, 92%);
  --indigo-l6: hsl(224, 81.9%, 87.8%);
  --indigo-l7: hsl(225, 77.4%, 82.1%);
  --indigo-l8: hsl(226, 75.4%, 74.5%);
  --indigo-l9: hsl(226, 70%, 55.5%);
  --indigo-l10: hsl(226, 58.6%, 51.3%);
  --indigo-l11: hsl(226, 55%, 45%);
  --indigo-l12: hsl(226, 62%, 17%);
  --indigo-d1: hsl(229, 24%, 10%);
  --indigo-d2: hsl(230, 36.4%, 12.9%);
  --indigo-d3: hsl(228, 43.3%, 17.5%);
  --indigo-d4: hsl(227, 47.2%, 21%);
  --indigo-d5: hsl(227, 50%, 24.1%);
  --indigo-d6: hsl(226, 52.9%, 28.2%);
  --indigo-d7: hsl(226, 56%, 34.5%);
  --indigo-d8: hsl(226, 58.2%, 44.1%);
  --indigo-d9: hsl(226, 70%, 55.5%);
  --indigo-d10: hsl(227, 75.2%, 61.6%);
  --indigo-d11: hsl(228, 100%, 75.9%);
  --indigo-d12: hsl(226, 83%, 96.3%);

  --violet-l11: hsl(250, 43%, 48%);
  --violet-d11: hsl(250, 95%, 76.8%);

  /* Light theme */
  --color-bg-body: var(--mauve-l1);
  --color-bg-container: var(--mauve-l3);
  --color-bg-border: var(--mauve-l7);
  --color-text-body: var(--mauve-l12);
  --color-text-secondary: var(--mauve-l11);
  --color-text-tertiary: var(--mauve-l10);
  --color-text-accent: var(--indigo-l11);
  --color-text-accent-alt: var(--violet-l11);

  /* Dark theme */
  --color-dark-bg-body: var(--mauve-d1);
  --color-dark-bg-container: var(--mauve-d3);
  --color-dark-bg-border: var(--mauve-d7);
  --color-dark-text-body: var(--mauve-d12);
  --color-dark-text-secondary: var(--mauve-d11);
  --color-dark-text-tertiary: var(--mauve-d10);
  --color-dark-text-accent: var(--indigo-d11);
  --color-dark-text-accent-alt: var(--violet-d11);

  /* Font */
  --font-size-base: 16px;
  --font-size-s: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-weight-m: 500;
  --font-weight-sb: 600;
  --font-weight-b: 800;
  --font-weight-xb: 900;
  --line-height-base: 1.5;
  --line-height-spaced: 1.75;
  --line-height-tight: 1.375;
  --line-height-xtight: 1.25;
  --line-height-head: 2.5rem;
  --line-height-subhead: 2rem;
  --leading-base: -0.009em;
  --leading-tight: -0.025em;

  /* Scales */
  --width-body: 44rem;
  --radius-xs: 4px;
  --radius-md: 6px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-body: var(--color-dark-text-body);
    --color-text-secondary: var(--color-dark-text-secondary);
    --color-text-tertiary: var(--color-dark-text-tertiary);
    --color-text-accent: var(--color-dark-text-accent);
    --color-text-accent-alt: var(--color-dark-text-accent-alt);
    --color-bg-body: var(--color-dark-bg-body);
    --color-bg-container: var(--color-dark-bg-container);
    --color-bg-border: var(--color-dark-bg-border);
  }
}

/* TYPE  -------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-base);
  letter-spacing: var(--leading-tight);
  font-weight: var(--font-weight-sb);
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-head);
  font-weight: var(--font-weight-xb);
  margin-bottom: 1.5em;
}

h2 {
  font-size: var(--font-size-l);
  line-height: var(--line-height-subhead);
  margin-bottom: 0.75em;
}

h3 {
  font-size: var(--font-size-m);
}

h4 {
  font-size: var(--font-size-base);
  margin-bottom: 0;
}

h5 {
  font-size: var(--font-size-s);
  margin-bottom: 0;
}

h6 {
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  letter-spacing: normal;
  margin-bottom: 0;
}

h1:first-child,
h2:first-child {
  margin-top: 0;
}

small {
  font-size: var(--font-size-s);
  color: var(--color-text-secondary);
}

:is(h1, h2, h3, h4, h5, h6) + * {
  margin-top: 0;
}

/* BASE TAGS --------------------------------------------------------------------- */

html {
  background-color: var(--color-bg-body);
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  margin: 0;
  padding: 1rem;
  color: var(--color-text-body);
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

body > :is(header, main, aside, footer) {
  margin: 0 auto;
  max-width: var(--width-body);
  width: 100%;
}

dt {
  font-weight: var(--font-weight-m);
}
dd {
  margin-left: 0;
}
dd::before {
  content: "↳ ";
  color: var(--color-text-tertiary);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-bg-border);
  margin: 1.5rem auto;
}

/* link */
a {
  color: var(--color-text-body);
  text-decoration: underline;
  text-decoration-color: var(--color-text-tertiary);
}

a[href]:hover {
  color: var(--color-text-accent);
  text-decoration-color: inherit;
}

a[rel~="external"] {
  color: var(--color-text-accent);
}
/* /link */

/* header anchor */
:is(h2, h3, h4, h5, h6) a.anchor {
  line-height: inherit;
  opacity: 0;
  color: var(--color-text-tertiary);
  padding: 0 0.5em;
  font-weight: 500;
  line-height: inherit;
  text-align: center;
  text-decoration: none;
}

:is(h2, h3, h4, h5, h6) a.anchor::after {
  content: "#";
}

:is(h2, h3, h4, h5, h6):hover a.anchor {
  opacity: 1;
}

:is(h2, h3, h4, h5, h6) a.anchor:hover {
  color: var(--color-text-accent);
  text-decoration: none;
}
/* /header anchor */

/* media */
img,
video {
  max-width: 100%;
  vertical-align: bottom;
}

article > img {
  margin: 1.5rem 0;
}

blockquote {
  color: var(--color-text-secondary);
  font-size: var(--font-size-m);
  line-height: var(--line-height-tight);
  font-stretch: semi-condensed;
  font-variation-settings: "wdth" 87.5;
}

a img {
  margin-bottom: 0;
}
/* /media */

/* figure */
figure {
  margin: 1.5rem 0;
}

figcaption {
  margin-top: 0.5em;
  text-align: center;
  font-size: var(--font-size-s);
  color: var(--color-text-tertiary);
}
/* /figure */

/* code */
:not(pre) :is(code, kbd, samp) {
  font-family: var(--font-mono);
  background-color: var(--color-bg-container);
  border-radius: 0.2em;
  font-size: 0.9375em;
  padding: 0 0.2em;
}

pre {
  font-family: var(--font-mono);
  font-size: var(--font-size-s);
  line-height: var(--line-height-tight);
  background-color: var(--color-bg-container);
  overflow: auto;
  padding: 1.25ch;
  border-radius: 0.2em;
}

pre code {
  color: inherit;
  border-radius: inherit;
  background-color: inherit;
  padding: 0;
  border: inherit;
  font-size: inherit;
}
/* /code */

/* details */
details {
  font-size: var(--font-size-s);
  color: var(--color-text-tertiary);
}

details[open] {
  color: var(--color-text-secondary);
}

summary {
  font-weight: var(--font-weight-m);
}

details[open] > *:last-child {
  margin-bottom: 0;
}
/* /details */

/* table of contents */
.toc {
  margin-bottom: 2rem;
  padding: 1.25ch;
  border-radius: 0.25em;
  background-color: var(--color-bg-container);
}

/* /table of contents */

/* list */
ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
  padding-left: 1.5rem;
}
/* /list */

/* table */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-s);
  line-height: var(--line-height-tight);
}

th,
td {
  border: 1px solid var(--color-bg-border);
  text-align: left;
  padding: 0.25em 0.5em;
  vertical-align: top;
}

table caption {
  font-weight: var(--font-weight-m);
  margin-bottom: 0.5em;
}

table :is(code, kbd, samp) {
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: inherit;
}
/* /table */

/* HEADER/CRUMBS ------------------------------------------------------------------- */

body > header,
article > header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25em;
  font-size: var(--font-size-s);
  line-height: var(--line-height-tight);
  color: var(--color-text-tertiary);
}

body > header:not(:hover) :is(nav, div, a) {
  color: var(--color-text-tertiary) !important;
}

body > header a:not(:hover) {
  text-decoration: none;
}

article > header:not(:hover) :is(nav, div, li a) {
  color: var(--color-text-tertiary) !important;
}

:is(body > header, article > header) :is(ol, ul) {
  margin: 0;
  padding: 0;
  list-style: none;
}

:is(body > header, article > header) :is(ol, ul) li {
  display: inline-block;
}

body > header nav[aria-label="crumbs"] ol li:not(:first-child)::before {
  content: "/";
  margin: 0 0.25em;
  color: var(--color-text-tertiary);
}

body > header nav[aria-label="navigation"] ol li:not(:first-child)::before {
  content: "·";
  margin: 0 0.5em;
  color: var(--color-text-tertiary);
}

article > header :is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  font-size: var(--font-size-base);
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-b);
  color: var(--color-text-body);
}

/* ASIDE ----------------------------------------------------------------- */

body > aside {
  color: var(--color-text-tertiary);
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

body > aside > section:not(:hover) :is(nav, div, a) {
  color: var(--color-text-tertiary) !important;
}

body > aside > section a:not(:hover) {
  text-decoration: none;
}

aside section h6 {
  margin: 0;
  line-height: 2;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-m);
  letter-spacing: 0;
  display: flex;
  gap: 4px;
  align-items: baseline;
}

aside section h6 a {
  color: inherit;
  text-decoration: none;
}

aside section h6::after {
  flex: 1;
  content: "";
  border-top: 1px solid var(--color-bg-border);
}

aside section :is(ul, ol) {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside section :is(ul, ol) li {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

aside section :is(ul, ol) li a + span {
  display: block;
  flex: 1;
  border-bottom: 1px dashed var(--color-bg-border);
}

aside time {
  margin-left: auto;
  color: var(--color-text-tertiary);
  font-size: var(--font-size-xs);
}

/* FOOTER ----------------------------------------------------------------- */

body > footer {
  margin-top: auto;
  font-size: var(--font-size-xs);
  color: var(--color-text-tertiary);
}

footer:not(:hover) a {
  color: currentColor;
}

/* END TER STYLESHEET ----------------------------------------------------- */

.hljs-comment {
  color: var(--color-text-tertiary);
}
.hljs-punctuation,
.hljs-tag {
  color: currentcolor;
}
.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
  color: currentcolor;
}
.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
  font-weight: bold;
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  color: var(--color-text-accent-alt);
}
.hljs-section,
.hljs-title {
  color: currentcolor;
}
.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable,
.hljs-function {
  color: currentcolor;
}
.hljs-literal {
  color: var(--color-text-accent-alt);
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
  color: currentcolor;
}
.hljs-meta {
  color: currentcolor;
}
.hljs-meta .hljs-string {
  color: currentcolor;
}
.hljs-subs {
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
