/* Default stylesheet for Ter: https://github.com/kkga/ter */

/* ROOT ------------------------------------------------------------------------- */

:root {
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --mauve-l1: hsl(300, 20%, 99%);
  --mauve-l2: hsl(300, 7.7%, 97.5%);
  --mauve-l3: hsl(294, 5.5%, 95.3%);
  --mauve-l4: hsl(289, 4.7%, 93.3%);
  --mauve-l5: hsl(283, 4.4%, 91.3%);
  --mauve-l6: hsl(278, 4.1%, 89.1%);
  --mauve-l7: hsl(271, 3.9%, 86.3%);
  --mauve-l8: hsl(255, 3.7%, 78.8%);
  --mauve-l9: hsl(252, 4%, 57.3%);
  --mauve-l10: hsl(253, 3.5%, 53.5%);
  --mauve-l11: hsl(252, 4%, 44.8%);
  --mauve-l12: hsl(260, 25%, 11%);
  --mauve-d1: hsl(246, 6%, 9%);
  --mauve-d2: hsl(240, 5.1%, 11.6%);
  --mauve-d3: hsl(241, 5%, 14.3%);
  --mauve-d4: hsl(242, 4.9%, 16.5%);
  --mauve-d5: hsl(243, 4.9%, 18.8%);
  --mauve-d6: hsl(244, 4.9%, 21.5%);
  --mauve-d7: hsl(245, 4.9%, 25.4%);
  --mauve-d8: hsl(247, 4.8%, 32.5%);
  --mauve-d9: hsl(252, 4%, 45.2%);
  --mauve-d10: hsl(247, 3.4%, 50.7%);
  --mauve-d11: hsl(253, 4%, 63.7%);
  --mauve-d12: hsl(256, 6%, 93.2%);

  --brown-l1: hsl(30, 40%, 99.1%);
  --brown-l2: hsl(30, 50%, 97.6%);
  --brown-l3: hsl(30, 52.5%, 94.6%);
  --brown-l4: hsl(30, 53%, 91.2%);
  --brown-l5: hsl(29, 52.9%, 86.8%);
  --brown-l6: hsl(29, 52.5%, 80.9%);
  --brown-l7: hsl(29, 51.5%, 72.8%);
  --brown-l8: hsl(28, 50%, 63.1%);
  --brown-l9: hsl(28, 34%, 51%);
  --brown-l10: hsl(27, 31.8%, 47.6%);
  --brown-l11: hsl(25, 30%, 41%);
  --brown-l12: hsl(20, 30%, 19%);
  --brown-d1: hsl(22, 15%, 8.7%);
  --brown-d2: hsl(20, 28.3%, 10.4%);
  --brown-d3: hsl(20, 28%, 14%);
  --brown-d4: hsl(21, 28.4%, 16.5%);
  --brown-d5: hsl(22, 28.7%, 18.9%);
  --brown-d6: hsl(23, 29%, 22.3%);
  --brown-d7: hsl(25, 29.5%, 27.8%);
  --brown-d8: hsl(27, 30.1%, 35.9%);
  --brown-d9: hsl(28, 34%, 51%);
  --brown-d10: hsl(28, 41.4%, 55.8%);
  --brown-d11: hsl(28, 60%, 64.5%);
  --brown-d12: hsl(30, 67%, 94%);

  /* Light theme */
  --color-bg-body: var(--mauve-l1);
  --color-bg-secondary: var(--mauve-l2);
  --color-bg-highlight: var(--mauve-l3);
  --color-text-body: var(--mauve-l12);
  --color-text-secondary: var(--mauve-l11);
  --color-text-tertiary: var(--mauve-l10);
  --color-text-accent: var(--brown-l11);
  --color-text-accent-dim: var(--brown-l7);

  /* Dark theme */
  --color-dark-bg-body: var(--mauve-d1);
  --color-dark-bg-secondary: var(--mauve-d2);
  --color-dark-bg-highlight: var(--mauve-d3);
  --color-dark-text-body: var(--mauve-d12);
  --color-dark-text-secondary: var(--mauve-d11);
  --color-dark-text-tertiary: var(--mauve-d10);
  --color-dark-text-accent: var(--brown-d11);
  --color-dark-text-accent-dim: var(--brown-d7);

  /* Font */
  --font-size-base: 16px;
  --font-size-s: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-weight-m: 500;
  --font-weight-sb: 600;
  --font-weight-b: 800;
  --font-weight-xb: 900;
  --line-height-base: 1.5;
  --line-height-spaced: 1.75;
  --line-height-tight: 1.375;
  --line-height-xtight: 1.25;
  --line-height-head: 2.5rem;
  --line-height-subhead: 2rem;
  --leading-base: -0.009em;
  --leading-tight: -0.025em;

  /* Scales */
  --width-body: 44rem;
  --radius-xs: 4px;
  --radius-md: 6px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-body: var(--color-dark-text-body);
    --color-text-secondary: var(--color-dark-text-secondary);
    --color-text-tertiary: var(--color-dark-text-tertiary);
    --color-text-accent: var(--color-dark-text-accent);
    --color-text-accent-dim: var(--color-dark-text-accent-dim);
    --color-bg-body: var(--color-dark-bg-body);
    --color-bg-secondary: var(--color-dark-bg-secondary);
    --color-bg-highlight: var(--color-dark-bg-highlight);
  }
}

/* TYPE  -------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-base);
  letter-spacing: var(--leading-tight);
  font-weight: var(--font-weight-b);
  font-stretch: semi-expanded;
  font-variation-settings: "wdth" 112.5;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

h1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-head);
  font-stretch: expanded;
  font-variation-settings: "wdth" 125;
  font-weight: var(--font-weight-xb);
}

h2 {
  font-size: var(--font-size-l);
  line-height: var(--line-height-subhead);
}

h1:first-child,
h2:first-child {
  margin-top: 0;
}

small {
  font-size: var(--font-size-s);
  color: var(--color-text-secondary);
}

:is(h1, h2, h3, h4, h5, h6) + * {
  margin-top: 0;
}

/* BASE TAGS --------------------------------------------------------------------- */

html {
  background-color: black;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  margin: 0;
  padding: 1rem;
  background: var(--color-bg-body);
  color: var(--color-text-body);
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

body > :is(header, main, aside, footer) {
  margin: 0 auto;
  max-width: var(--width-body);
  width: 100%;
}

a {
  color: var(--color-text-accent);
  text-decoration: none;
}

:is(h1, h2, h3, h4, h5, h6) a {
  color: currentcolor !important;
}

a:visited {
  color: var(--color-text-accent);
}

a[href]:hover {
  text-decoration: underline;
}

a[rel~="external"]::after {
  content: "↗";
}

img,
video {
  max-width: 100%;
  vertical-align: bottom;
}

article > img {
  margin: 1.5rem 0;
}

blockquote {
  color: var(--color-text-secondary);
  font-size: var(--font-size-l);
  line-height: var(--line-height-tight);
  font-stretch: semi-condensed;
  font-variation-settings: "wdth" 87.5;
}

a img {
  margin-bottom: 0;
}

:is(code, kbd, samp) {
  font-family: var(--font-mono);
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-bg-highlight);
  font-size: max(12px, 90%);
  padding: 2px 3px;
}

table :is(code, kbd, samp) {
  padding: 2px 3px;
  background-color: transparent;
  border: none;
  font-size: inherit;
}

pre {
  font-family: var(--font-mono);
  font-size: var(--font-size-s);
  line-height: var(--line-height-xtight);
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-bg-highlight);
  overflow: auto;
  padding: 1.5ch 2ch;
}

pre code {
  color: inherit;
  border-radius: inherit;
  background-color: inherit;
  padding: 0;
  border: inherit;
  font-size: inherit;
}

figure {
  margin: 1.5rem 0;
}

figcaption {
  margin-top: 0.5em;
  text-align: center;
  font-size: var(--font-size-s);
  color: var(--color-text-tertiary);
}

details {
  font-size: var(--font-size-s);
  color: var(--color-text-tertiary);
}

details[open] {
  color: var(--color-text-secondary);
  padding-bottom: 1rem;
}

summary {
  font-weight: var(--font-weight-m);
}

details[open] > *:last-child {
  margin-bottom: 0;
}

dt {
  font-weight: var(--font-weight-m);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-bg-highlight);
  margin: 1.5rem auto;
}

table {
  width: 100%;
  font-size: var(--font-size-s);
  line-height: var(--line-height-tight);
  border-collapse: separate;
  border-spacing: 1px;
}

td,
th {
  text-align: left;
  padding: 0.25em 0.5em;
  background: var(--color-bg-secondary);
  vertical-align: top;
}
th {
  background: var(--color-bg-highlight);
}

table caption {
  font-weight: var(--font-weight-m);
  margin-bottom: 0.5em;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
  padding-left: 1.5rem;
}

/* HEADER/BREADCRUMBS ------------------------------------------------------------------- */

body > header,
article > header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  gap: 0.25em;
  font-size: var(--font-size-s);
  line-height: var(--line-height-tight);
  color: var(--color-text-tertiary);
}

body > header:not(:hover) :is(nav, div, a) {
  color: var(--color-text-tertiary) !important;
}

article > header:not(:hover) :is(nav, div, li a) {
  color: var(--color-text-tertiary) !important;
}

:is(body > header, article > header) :is(ol, ul) {
  margin: 0;
  padding: 0;
  list-style: none;
}

:is(body > header, article > header) :is(ol, ul) li {
  display: inline-block;
}

:is(body > header, article > header)
  :not(nav)
  :is(ol, ul)
  li:not(:first-child) {
  margin-left: 0.5em;
}

body > header nav ol li:not(:first-child)::before {
  content: "/";
  margin: 0 0.25em;
  color: var(--color-text-tertiary);
}

article > header :is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  font-size: var(--font-size-base);
  line-height: var(--line-height-tight);
  font-weight: var(--font-weight-b);
  color: var(--color-text-body);
}

/* ASIDE ----------------------------------------------------------------- */

body > aside {
  color: var(--color-text-tertiary);
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

body > aside > section:not(:hover) :is(nav, div, a) {
  color: var(--color-text-tertiary) !important;
}

aside section h6 {
  margin: 0;
  line-height: 2;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-m);
  letter-spacing: 0;
  display: flex;
  gap: 4px;
  align-items: baseline;
}

aside section h6 a {
  color: inherit;
}

aside section h6::after {
  flex: 1;
  content: "";
  border-top: 1px solid var(--color-bg-highlight);
}

aside section :is(ul, ol) {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside section :is(ul, ol) li {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

aside section :is(ul, ol) li a + span {
  display: block;
  flex: 1;
  border-bottom: 1px dashed var(--color-bg-highlight);
}

aside time {
  margin-left: auto;
  color: var(--color-text-tertiary);
  font-size: var(--font-size-xs);
}

/* FOOTER ----------------------------------------------------------------- */

body > footer {
  margin-top: auto;
  font-size: var(--font-size-xs);
  color: var(--color-text-tertiary);
}

/* END TER STYLESHEET ----------------------------------------------------- */

.hljs-comment {
  color: var(--color-text-tertiary);
}
.hljs-punctuation,
.hljs-tag {
  color: currentcolor;
}
.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
  color: currentcolor;
}
.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
  font-weight: bold;
}
.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  color: var(--color-text-accent);
}
.hljs-section,
.hljs-title {
  color: currentcolor;
}
.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable,
.hljs-function {
  color: currentcolor;
}
.hljs-literal {
  color: var(--color-text-accent);
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
  color: currentcolor;
}
.hljs-meta {
  color: currentcolor;
}
.hljs-meta .hljs-string {
  color: currentcolor;
}
.hljs-subs {
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
